@import 'variables';
@import 'mixins';
@import 'reset';
@font-face {
    font-family: 'droid_sansregular';
    src: url('../fonts/droidsans-webfont.woff2') format('woff2'),
         url('../fonts/droidsans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
//BASICS
body,html{
    font-family: 'Oswald', sans-serif;
}
.wrap{
    max-width:1200px;
    margin:0 auto;
}
.row{
    padding:0 !important;
    margin:0 !important;
}
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{
    padding:0;
}
*{
    box-sizing: border-box;
}
::selection {
    color:#fff;
    background:$red;
}
h3{
    text-transform:uppercase;
    font-weight:600;
}
ul{
    margin:0;
}

    









// ----------------------------------------- MEDIA QUERIES -----------------------------------------------//

// TABLET


    

    

    

    
    
}


// TABLET LANDSCAPE
@media only screen and (min-width:49em) and (max-width:64em){
    #topbar{
        nav{
            display:inline-block;
            .toggle{
                display:none;
                text-align:right;
                margin-right:25px;
                svg{
                    color:#fff;
                    font-size:24px;
                }
            }
            ul{
                display:inline-block;
                margin:20px 0;
                a li{
                    display:inline-block;
                    padding:0 20px;
                    font-size:20px;
                }
            }   
        }
        input[type='button']{
            margin-bottom:20px;
        }
    }
    #banner .autocomplete svg{
        right:60px;
        top:0;
    }

    #concert .concert_info{
        margin:120px;
        padding:0;
    }
    #founder .founder{
        text-align:left;
        margin-left:30px;
    }
}



// MOBIILE PHONES
@media only screen and (max-width:40em){

    // TOPBAR
    #topbar{
        nav{
            display:block;
            .toggle{
                display:block;
                text-align:right;
                margin-right:25px;
                svg{
                    color:#fff;
                    font-size:24px;
                }
            }
            ul{
                display:none;
                margin:0;
                a li{
                    display:block;
                    padding:20px 0;
                    font-size:20px;
                }
            }   
        }
        .active{
            display:block;
        }
        input[type='button']{
            margin-bottom:20px;
        }
    }

    //banner
    #banner{
        background:url("../img/header_bg.jpg") -315px 0 no-repeat;
        .autocomplete input[type='text']{
            width:100%;
            border-top:0;
        }
        .autocomplete svg{
            top:0;
        }
        .autocomplete .autocomplete-items{
            width:100%;
            margin-top:20px;
        }
        .header_text{
            margin:40px;
        }
        .header_text h2{
            font-size:24px;
        }
        .autocomplete svg{
            right:10px;
        }
    }
     
    
    //FOUNDER
    #founder{
        margin-top:20px;
        .wrapper{
            background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) , url("../img/founder.jpg") top center no-repeat;
            background-size:cover;
        }
        .founder{
            margin:10px 0;
            input[type='button']{
                margin-bottom:5px;
            }
            h4{
                margin:20px;
                line-height:32px;
            }
            h2{
                padding:10px;
            }
        }
    }

    //POPULAR
    #popular{
        margin-bottom:20px;
        h3{
            margin:20px 0;
        }
        .myfeed span a:first-of-type{
            margin:5px;
        }
    }
    .myfeed{
        margin-top:30px;
    }
    .separator{
        width:90%;
        padding:5px 0;
    }

    // CONCERT
    #concert{
        iframe{
            width:90%;
            height:300px;
        }
        .concert_info{
            padding:0;
            margin:10px 0;
            h4{
                margin:20px 0;
            }
        }
        h3{
            margin-top:30px;
        }
    }

    // TRENDS
    #trends{
        .control-box{
            margin:0;
        }
        .thumbnails{
            margin:0;
            li{
                margin:5px auto;
                width:100%;
            }
        }
        h3{
            margin:20px 0;
        }
    }

    // APPLICATION
    #application{
        .newsletter{
            width:100%;
        }
        .wrapper .content span{
            margin:0 5px;
        }
        .wrapper .content h4{
            line-height:32px;
        }
    }

    // FOOTER

    footer{
        margin-bottom:5px;
        ul{
            margin-top:10px;
            li{
                display:block;
                padding:10px;
            }
        }
    }


} // END MOBIILE PHONES



