// HEADER
#banner{
    background:url('../img/header_bg.jpg') 0 0 no-repeat;
    background-size:cover;
    .header_text{
        text-align:center;
        margin:10% 15% 3%;
        h2{
            margin-bottom:100px;
            color:#fff;
            font-size:32px;
            font-family: 'droid_sansregular';
        }
        span{
            font-family: 'Great Vibes', cursive;
            font-size:68px;
        }
    }
    .autocomplete{
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
        width:100%;
        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
        }
        input[type=text] {
            color:#fff;
            border-top:0;
            border-left:0;
            border-right:0;
            border-bottom:3px solid map-get($colors, border);
            margin-bottom:15%;
            background:transparent;
            border-radius:0;
            letter-spacing:3px;
            font-size:18px;
            width:40%;
        }
        .autocomplete-items {
            position: absolute;
            border: 1px solid map-get($colors, border);
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 12%;
            left: 0;
            right: 0;
            width:40%;
            margin:0 auto;
            text-align:left;
        }
        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: rgba(0,0,0,0.7); 
            color:map-get($colors, border);
        }
        .autocomplete-items div:hover {
           /*when hovering an item:*/
           background-color: rgba(135,135,135,0.5);
           color:#fff; 
           border:1px solid rgb(135,135,135);
        }
        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color:map-get($colors, red) !important; 
            color: #ffffff; 
        }
        svg{
            color:map-get($colors, red);
            position:absolute;
            font-size:16px;
            right:30%;
            top:-2px;
        }
    }   
}