// FOOTER
footer{
    border-top:2px solid rgba(0,0,0,0.1);
    margin-bottom:60px;
    ul{
        margin:50px 0 20px;
        li{
            display:inline-block;
            text-transform: uppercase;
            padding-left:30px;
            color:$grey;
        }
        a{
            text-decoration:none;
        }
    }
    p{
        span{
            color:$red;
            font-size:36px;
            font-family: 'Great Vibes', cursive;
        }
    }
}