//topbar
#topbar{
    background:$red;
    nav{
        padding:15px 0;        
        ul{
            margin-top:10px;
            a li{
                display:inline-block;
                padding-left:10px;
                text-transform: uppercase;
                color:#fff;
            }
        }
        .toggle{
            display:none;
            svg{
                color:#fff;
                font-size:24px;
            }
        }        
    }
    .logo{
        margin:10px 0;
    }
    ul{
        margin-top:25px;
        li{
            display:inline-block;
            color:#fff;
            padding:0 10px;
            font-size:14px;
            margin-top:-10px;
            img{
                padding-top:10px;
            }
        }
        span{
            color:#fff;
            line-height:20px;
            
        }
        .fab{
            color:#fff;                        
        }
    }
    input[type='button']{
        padding:15px 28px;
        background:#fff;
        @include border-radius(3px);
        color:$red;
        text-transform:uppercase;
        text-align:center;
        border:none;
        font-weight:bold;
    }
}


@media only screen and(max-width:64em){
    // TOPBAR
    #topbar{
        nav{
            display:block;
            .toggle{
                display:block;
                text-align:right;
                margin-right:25px;
                svg{
                    color:#fff;
                    font-size:24px;
                }
            }
            ul{
                display:none;
                margin:0;
                a li{
                    display:block;
                    padding:20px 0;
                    font-size:20px;
                }
            }   
        }
        .active{
            display:block;
        }
        input[type='button']{
            margin-bottom:20px;
        }
    }
    .separator{
        width:90%;
        margin:0 auto;
    }
    #banner .autocomplete input[type='text']{
        width:80%;
    }
    #banner .autocomplete svg{
        right:50px;
        top:0;
    }
    #banner .autocomplete .autocomplete-items{
        width:80%;
        margin-top:15px;
    }
}